body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    padding: 16px; 
    background-color: #1F2937;
    color: #e5e7eb; 
    justify-content: space-around;
    margin-top: -10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header1 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 8px; 
}

.links1 {
    display: flex;
    width: 350px;
    justify-content: space-between;
    padding: 8px; 
}

.body {
    display: flex; 
    flex: 1;
    flex-direction: column;
}

.text-button {
    padding: 0px;
    width: 32%;
    align-items: flex-start;
}

.container-1 {
    display: flex; 
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top:48px; 
    padding-bottom: 96px; 

}

.chip-img {
    min-width: 32%;
    height: 228px; 
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: bold; 
}

.sq-img {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    border: #3882F6;
    border-style: solid; 
    border-radius: 12px; ;
}

.boxes {
    padding: 16px;
    display: flex; 
    justify-content: center;
    gap: 40px; 
    padding-bottom: 50px;
}

.box {
    width: 200px; 
    text-align: center;
    color: #1F2937
}

.white-background {
    display: flex; 
    flex-direction: column;
    padding: 48px; 
}

.white-header {
    display: flex; 
    font-size: 24pt;
    font-weight: 900;
    padding: 24px; 
    padding-bottom: 12px; 
    align-content: center;
    justify-content: center;
    color: #1F2937;
}

.gray-background {
    display: flex; 
    background-color: #e5e7eb;
    justify-content: center;
    padding: 52px; 
}

.quote {
    display: flex; 
    flex-direction: column;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 48px; 
    width: 60%; 
}

.author {
    font-style: normal;
    font-size: 24pt;
    color: #1F2937;
    font-weight: 700; 
    align-self: flex-end;
    padding-right: 56px;
}

.footer {
    
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 12px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-weight: bold;
    
}